html{
	overflow-y:scroll;
}

#title{
	position:absolute;
	width:330px;
	height:62px;
	background:url(../img/Title.png) no-repeat;
	background-size:cover;
	top:20px;
	left:50%;
	margin-left:-165px;
	
}


#back-button{
	position:absolute;
	left:20px;
	top:20px;
	background:url(../img/Arrow.png) no-repeat;
	width:30px;
	height:50px;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	cursor:pointer;
}

.back-text{
	position:absolute;
	text-decoration: none;
	color:white;
	left:60px;
	top:40px;
}


#showing{
	position:absolute;
	width:300px;
	top:130px;
	left:50%;
	margin-left:-150px;
	text-align: center;
	font-family:Myriad Pro;
}

#search-box{
	position:absolute;
	left:50%;
	margin-left:-150px;
	top:150px;
}

#search-box input[type=text]{
	width:300px;
	height:25px;
		font-family:Myriad Pro;

	text-align: center;
	background:#AAAAAA;
	color:#222222;
	border:2px solid black;
	font-size:18px;
}

#magnifying-glass{
	position:absolute;
	left:5px;
	top:2px;
	pointer-events:none;
}

#results-container{
	position:absolute;
	margin:auto;
	top:150px;
	width:90%;
	left:45%;
	margin-left:-40%;
}

#results-list{
	list-style-type: none;
	width:100%;
}

#results-list li{
	display: inline-block;
	
	margin-left:30px;
	margin-top:40px;
}

#results-list li .search-img{
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	width:150px;
	height:100px;
	background:white;
	opacity:0;
}

#results-list li .search-img .photo-text{
	position:relative;
	top:100px;
	width:150px;
	text-align:center;
	text-decoration: none;
	color:white;
}

a{
	text-decoration: none;
}

